- meta  title: "#{@developer.name}'s Games",
        description: "List of #{@developer.name}'s Games",
        keywords: %w(game list pcrating pcglorious #{@developer.name}),
        og: { title: "#{@developer.name}'s Games",
          description: "List of #{@developer.name}'s Games",
          site_name: "PCRating",
          url: developer_url(id: @developer.slug) }

= render partial: 'games/search_bar', locals: { path: developer_path(id: @developer.slug) }

= render 'games/games_list'