- meta  title: "#{@publisher.name}'s Games",
        description: "List of #{@publisher.name}'s Games",
        keywords: %w(game list pcrating pcglorious #{@publisher.name}),
        og: { title: "#{@publisher.name}'s Games",
          description: "List of #{@publisher.name}'s Games",
          site_name: "PCRating",
          url: publisher_url(id: @publisher.slug),
          image: "http://b.thumbs.redditmedia.com/WrXiojYMaBSCa2sTyJyZclFvQMo5ry9f6qOfrKo-2gc.png" }

= render partial: 'games/search_bar', locals: { path: publisher_path(id: @publisher.slug) }

= render 'games/games_list'