- meta  title: "Games List",
        description: "List of game reviews in PCRating.",
        keywords: %w(game list pcrating pcglorious),
        og: { title: "Games List",
          description: "List of game reviews in PCRating.",
          site_name: "PCRating",
          url: "http://pcmrating.com/games" }

= render partial: 'games/search_bar', locals: { path: games_path(sort_by: params[:sort_by]) }

= render 'games/games_list'