- meta  title: "#{@game.title} Reviews for PC" ,
        description: "#{@game.title} reviews for PC platform.",
        keywords: [@game.title, 'pcmr', 'pcmasterrace', 'pcrating', 'pcglorious'],
        og: { title: "#{@game.title} Reviews for PC",
          description: "#{@game.title} reviews for PC platform.",
          site_name: "PCMRating",
          url: game_url(@game.slug),
          image: @game.header_image }

= render 'game_show_top'
= render 'game_show_bottom'
