<script type="text/javascript" src="https://www.google.com/jsapi"></script>

<div class='col-xs-6'><div id="score_div"></div></div>
<div class='col-xs-6'><div id="rank_div"></div></div>

<script>
  google.load('visualization', '1', {packages: ['corechart', 'line']});
  google.setOnLoadCallback(function() {
    drawChart('Game Score', 'number',
              <%= raw @scores %>,
              new google.visualization.LineChart(document.getElementById('score_div')))
    drawChart('Game Ranking', 'string',
              <%= raw @ranks %>,
              new google.visualization.ColumnChart(document.getElementById('rank_div')))
  } );

  function drawChart(statName, statType, stats, chartObject) {

    var data = new google.visualization.DataTable();
    data.addColumn(statType, statName);
    data.addColumn('number', '');

    data.addRows(stats);

    var options = {
      title: statName,
      curveType: 'function',
      height: 300,
      width: 555,
      legend: {position: 'none'},
      backgroundColor: 'transparent',
      curveType: 'function',
    };

    chartObject.draw(data, options);
  }
</script>