@import "variables"

.btn
  border-radius: 2px
  &.btn-yellow
    background: $primary-yellow
    color: white
    &:hover, &:active, &:focus
      color: $primary-yellow
      background: white
  &.btn-green
    background: $primary-green
    color: white
    &:hover, &:active, &:focus
      color: $primary-green
      background: white