= render  partial: 'reviews/review',
          object: @review,
          as: :review,
          locals: { centered: true,
            display_title: true,
            show_user: true,
            truncate_review: false }