@import "common/mixins"

.game-index
  .game
    padding-top: 10px
    padding-bottom: 10px
    .name
      margin-top: 5px
      a
        color: $primary-grey
        font-weight: 500
    .ratings
      color: $primary-grey
  .add-game-message
    margin-top: 20px
    text-align: center
    a
      margin-left: 5px

.search-form
  margin-top: 20px
  font-size: 10px

.game
  .image
    position: relative
    .rating
      position: absolute
      width: 20%
      left: 0px
      bottom: -1px

.fill-page
  .search-bar
    position: relative
    top: -40px
    background-color: $secondary-grey
    padding-top: 10px
    padding-bottom: 10px
    color: $font-grey
    .search-bar-button
      text-align: center
      cursor: pointer
      position: relative
      .text
        padding-top: 10px
        padding-bottom: 10px
      &.yellow
        color: $primary-yellow
      &:hover, &:active, &:focus, &.active
        background-color: $tertiary-grey
        .dropdown
          display: block
      .dropdown
        position: absolute
        top: 100%
        z-index: 99
        width: 100%
        left: 0px
        display: none
        color: white
        .sort_link.desc, .sort_link.asc
          display: none
        *
          width: 100%
          padding-top: 10px
          padding-bottom: 10px
          display: inline-block
          background-color: $secondary-grey
          color: white
          &.yellow
            color: $primary-yellow
          &:hover, &:active, &:focus, &.active
            background-color: $tertiary-grey
            text-decoration: none

    .game_search
      .row
        @include flexbox-centered-children


    .container > .row
      @include flexbox-centered-children