@import "common/variables"
@import "common/mixins"

.show
  .top-content
    .game-box-holder
      padding-bottom: 30px
      .title
        text-align: left
        margin-bottom: 10px
      .image
        display: flex
        flex-direction: row
        justify-content: center
        img
          height: 100px
      .game-info
        .title
          font-size: 18px
          margin-top: 10px
        .developers, .publishers, .websites, .dlc
          margin-top: 5px
      .links
        display: flex
        margin-top: 10px
        a
          flex: 1
          margin-left: 2px
          margin-right: 2px
          text-align: center
    .requirements
      color: white
      ul
        padding-left: 20px
      strong
        font-weight: normal
        display: block
      .platform, br
        display: none
      a
        cursor: pointer
      .platform-buttons
        @include flexbox-centered-children
        justify-content: center
        margin-top: 10px
        .platform-link
          width: 25px
          height: 25px
          display: inline-block
          background-position: center
          background-repeat: no-repeat
          margin-right: 10px
          margin-bottom: 5px
          &.windows
            background-image: image_url('platforms/inactive/windows.svg')
            &.active
              background-image: image_url('platforms/active/windows.svg')
          &.mac
            background-image: image_url('platforms/inactive/mac.svg')
            &.active
              background-image: image_url('platforms/active/mac.svg')
          &.linux
            background-image: image_url('platforms/inactive/linux.svg')
            &.active
              background-image: image_url('platforms/active/linux.svg')
      .level-link
        display: none
        margin-right: 5px
        text-decoration: none !important
        color: white
        &.active
          color: $primary-yellow
      .min, .rec
        padding-top: 10px
        > :first-child
          display: none
      .hide-requirements
        display: none

@media only screen and (min-width : 480px)
  .show .top-content .game-box-holder .image
    justify-content: center
    img
      height: 150px

@media only screen and (min-width : 768px)
  .show .top-content .game-box-holder .image
    justify-content: initial
    img
      height: 200px

@media only screen and (min-width : 992px)
  .show .top-content .requirements .platform-buttons
    justify-content: initial
  .show .top-content .game-box-holder .image img
    height: 150px

@media only screen and (min-width : 1200px)
  .show .top-content .game-box-holder .image img
    height: 150px

