@import "common/mixins"
@import "common/variables"

@media (min-width: 840px)
  .navbar
    & > .container
      @include flexbox-centered-children
      justify-content: space-between
      .navbar-collapse
        width: 100%
    .navbar-nav
      @include flexbox-centered-children
      li
        a
          border-right: 1px solid $border-color
          padding-top: 0px
          padding-bottom: 0px
          margin-top: 10px
          margin-bottom: 10px
          &:hover
            color: $primary-yellow
          &:focus, &:active
            color: darken($primary-yellow, 3)

          &.yellow
            color: $primary-yellow
            &:hover, &:focus, &:active
              color: white

          &.sign-in
            border-right: none
            background: $primary-yellow
            border-radius: 25px
            margin-left: 15px
            &:hover
              color: $primary-yellow
              background: white
            &:focus, &:active
              color: $primary-yellow
              background: white

    &.navbar-default
      background-color: $header-grey
      color: white
      border: none
      .navbar-brand
        font-size: 30px
        font-weight: bold

.navbar
  & > .container
    padding-top: 10px
    padding-bottom: 10px
  &.navbar-default
    background-color: $header-grey
    color: white
    border: none
    .navbar-brand
      font-size: 30px
      font-weight: bold
    .navbar-collapse
      border: none

.nav > li > a
  padding: 10px